<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="music">
      <ion-icon name="musical-notes" class="add-form"></ion-icon>
        <ion-label>
          Musique
        </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="apropos">
      <ion-icon name="person" class="add-form"></ion-icon>
        <ion-label>
          A propos
        </ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
