<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >Musique</ion-title>
  </ion-toolbar>
</ion-header>
<ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
<ion-content [fullscreen]="true">
  <ion-segment [scrollable]="true" mode="ios" value="default">
    <ion-segment-button  value="default">
  Artistes  </ion-segment-button>
    <ion-segment-button (click)="navigate3()"  >
  Albums  </ion-segment-button>
  
    <ion-segment-button (click)="navigate()">
  Chansons </ion-segment-button>
   
 
</ion-segment>
<ion-searchbar placeholder="Rechercher…"></ion-searchbar>
<div *ngIf="bool==true">
 
  <ion-list >
    <ion-item *ngFor="let item of [1,2,3,4,5,6,9,5,8,2,8]">
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
      <ion-label>
       <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
       <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
       <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
       <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
 </ion-list>
</div>
<div *ngIf="!bool">
<ng-container *ngFor="let item of Songs"  >
  
  <ion-list>
    <ion-item *ngFor="let item of Songs" (click)="navigate1(item.nomArtiste)" >
    <ion-thumbnail slot="start" >
      <img src="{{item.photoArtiste}}" alt="" srcset="">

    </ion-thumbnail> 
    <ion-label>
      <h5 > Titre :{{item.titre}}</h5>
      <p> Artiste :{{item.nomArtiste}}</p>
      <p>Album :{{item.album.nomAlbum}}</p>
      <p>Score :{{item.score}}</p>

    </ion-label>
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  </ion-list>
</ng-container>
</div>
</ion-content>
